aiohttp
aiosignal
arabic-reshaper
arrow
asgiref
async-timeout
asynctest
attrs
binaryornot
bleach
cached-property
certifi
chardet
charset-normalizer
click
cookiecutter
crispy-tailwind
Django
django-crispy-forms
django-environ
django-generic-filters
django-jalali-date
django-multiselectfield
django-tailwind
frozenlist
future
gunicorn
idna
importlib-metadata
isodate
jdatetime
Jinja2
jinja2-time
lxml
Markdown
MarkupSafe
multidict
munch
packaging
Pillow
platformdirs
poyo
pyparsing
python-bidi
python-dateutil
python-slugify
pytz
reportlab
requests
requests-file
requests-toolbelt
six
sqlparse
text-unidecode
typing_extensions
urllib3
webencodings
whitenoise
yarl
zeep
zipp

djangorestframework