{% extends "base.html" %}
{% block content %}

<section class="text-gray-700 body-font overflow-hidden" , dir="ltr">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0" text-align = "right">
                <div class="w-full flex items-center justify-between space-x-6">
                    <div class="flex-1 truncate">
                        <div class="flex items-center space-x-3">
                            <h3 class="text-3xl text-gray-900 font-medium truncate">{{ lead.id }}</h3>
                        </div>
                        <!-- {# <p class="mt-1 text-xl text-gray-500 truncate">{{ lead.address }}</p> #} -->
                    </div>
                </div>
                <div class="flex mb-4" dir="rtl">
                    <a href="{% url 'leads:lead-detail' lead.pk %}" class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">
                        نمای کلی
                    </a>
                    <a href="{% url 'leads:lead-update' lead.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                        سفارش
                    </a>    
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500" >{{ lead.time }}</span>
                    <span class="ml-auto text-gray-900" >زمان</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500" >{{ lead.technician }}</span>
                    <span class="ml-auto text-gray-900" >کارشناس</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500"> {{lead.grade }}</span>
                    <span class="ml-auto text-gray-900">امتیاز عملکرد</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">{{ lead.total_price_cusotmer }}</span>
                    <span class="ml-auto text-gray-900">هزینه نهایی پرداخت شده ( اظهارمشتری)</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">{{lead.wage}}</span>
                    <span class="ml-auto text-gray-900">اجرت نهایی پرداخت شده (اظهار تکنسین)</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">{{lead.expanse}}</span>
                    <span class="ml-auto text-gray-900">خرچکرد نهایی پرداخت شده (تکنسین)</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500" >{{ lead.commission }}</span>
                    <span class="ml-auto text-gray-900" >کمیسیون</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">{{ lead.get_status_display_verbose }}</span>
                    <span class="ml-auto text-gray-900">وضعیت سفارش</span>
                </div>
                {% comment %} <!-- 
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Email</span>
                    <span class="ml-auto text-gray-900">{{ lead.email }}</span>
                </div>
                <div class="flex border-t border-b mb-6 border-gray-300 py-2">
                    <span class="text-gray-500">Phone Number</span>
                    <span class="ml-auto text-gray-900">{{ lead.phone_number }}</span>
                </div>
                --> {% endcomment %}
            </div>
            
         <a href="{% url 'leads:lead-followup-create' lead.pk %}" class="text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">پیگیری</a>

        </div>

         {% for followup in lead.followups.all %}
            <div class="mt-5 shadow px-4 sm:px-6">
                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
                    <dt class="text-sm font-medium text-gray-500">
                    توضیحات 
                    {% comment %}
                    (<a href="{% url 'leads:lead-followup-update' followup.pk %}" class="text-blue-500 hover:text-blue-700">اصلاح</a>)
                    </dt>
                    {% endcomment %}
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{ followup.notes }}
                    </dd>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ followup.time }}
                        </dd>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        by {{ user }}
                        </dd>
        
                </div>
            </div>
        {% endfor %} 
    </div>
  </section>
{% endblock content %}