{% extends "base.html" %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% block content %}


<div class="max-w-lg mx-auto">
    <a class="hover:text-blue-500" href="{% url 'leads:lead-list-today' %}">برگشت به صحفه سفارش ها </a>
    <div class="py-5 border-t border-gray-200">
        <h1 class="text-4xl text-gray-800"  ></h1>
    </div>
    <form method="post" class="w-full max-w-lg mx-auto">
        {% csrf_token %}
        <div class="flex  w-full ">
            <div class="w-full md:w-1/3 px-3 mb-0">
                {{ form.address|as_crispy_field }}
            </div>
            <div class="w-full md:w-1/3 px-3 mb-0">
                {{ form.customer_phone|as_crispy_field }}
            </div>
            <div class="w-full md:w-1/3 px-3 mb-0">
                {{ form.customer_full_name|as_crispy_field }}
            </div>
        </div>
        <div class="flex  w-full ">
            <div class="w-full md:w-1/2 px-3 mb-0">
                {{ form.services|as_crispy_field }}
            </div>
            <div class="w-full md:w-1/2 px-3 mb-0">
                {{ form.motors|as_crispy_field }}
            </div>
        </div>
        {{ form.technician|as_crispy_field }}
    
        <button type='submit' class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">
            ثبت سفارش 
        </button>
    </form>
</div>

{% endblock content %}
