{% extends "base.html" %}

{% block content %}
    <section class="text-gray-700 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-wrap">
            <div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200">
                <div>
                    <h1 class="text-2xl text-gray-800">تراکنش ها</h1>
                </div>
             
            </div>

            <div class="flex flex-col w-full">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    شماره تراکنش
                                </th>
                                <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                زمان
                                </th>
                                <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                کارشناس
                                </th>
                                <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                عنوان
                                </th>
                                <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    مقدار کل
                                </th>
                                <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    سهم شرکت
                                </th>
                                <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                   شماره سفارش
                                </th>
                                   
                                <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                 
                                 </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tr in object_list %}
                                <tr class="bg-white">
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                        {{ tr.id }}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                        {{ tr.time }}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        <a href="{% url 'agents:agent-detail' tr.technician.pk %}"class="text-indigo-600 hover:text-indigo-900">
                                            {{ tr.technician }}
                                        </a>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        {{ tr.category }}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        {{ tr.total_amount }}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        {{ tr.company_amount }}
                                    </td>
                                    {% if tr.category == "دریافتی از سفارش" %}
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        <a href="{% url 'leads:lead-detail'  tr.order.id  %}"class="text-indigo-600 hover:text-indigo-900">
                                            {{ tr.order.id }}
                                        </a>
                                    </td>
                                    {% else %}
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                      
                                    </td>   
                                    
                                    {%endif%}
                                    {% if tr.category == "واریزی توسط تکنسین" %}
                                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                        <a href="{% url 'transactions-update' tr.pk %}" class="text-indigo-600 hover:text-indigo-900">
                                            نمایش
                                        </a>
                                    </td>
                                    {% else %}
                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        
                                    </td>   
                                    
                                    {%endif%}
                                </tr>
                            {% empty %}

                            <p>هیچ نراکنش وجود ندارد</p>

                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
            </div>

        </div>
      </section>
{% endblock content %}
