{% extends "base.html" %}
{% load tailwind_filters %}
{% load humanize %}

{% block content %}


<div class="max-w-lg mx-auto">
    <a class="hover:text-blue-500" href="{% url 'leads:lead-detail' lead.pk %}">یرگشت به سفارش</a>
    <div class="py-5 border-t border-gray-200">
        <h1 class="text-2xl text-gray-800">ایجاد پیگیری جدید</h1>
    </div>
    <form method="post" class="mt-5" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy|intcomma }}
        <button type='submit' class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">
            ثبت
        </button>
    </form>
</div>

{% endblock content %}
