{% load static %}

<header class="text-gray-700 body-font"  style="background-color: rgba(0, 0, 0, 0);">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-1 object-cover object-center rounded" alt="hero" src="{% static 'images/logo.png' %}" width="8" height="10">
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        
    {% if request.user.is_authenticated and request.user.is_staff and request.user.is_active %}
        
          <a href="{% url 'dashboard' %}" class="mr-5 hover:text-gray-900">  داشبورد </a>
        
          <a href="{% url 'agents:agent-list' %}" class="mr-5 hover:text-gray-900">کارشناس ها</a>
         
          <a href="{% url 'leads:lead-list' %}" class="mr-5 hover:text-gray-900">سفارش ها</a>

          <a href="{% url 'transactions-list' %}" class="mr-5 hover:text-gray-900">تراکنش ها</a>

          <a href="{% url 'company:expend-list' %}" class="mr-5 hover:text-gray-900">مخارج</a>


          <a href="{% url 'leads:lead-create' %}" class="mr-5 text-gray-900 hover:text-blue-900" >
             +سفارش جدید </a>
        {% endif %}
      </nav>
      
      {% if request.user.is_authenticated %}
         ورود به عنوان :   {{ request.user.get_full_name }}
        <a href="{% url 'logout' %}" class="ml-3 inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">
          خروج
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </a>
      {% endif %}
    </div>
</header>