{% extends "base.html" %}
{% load utils %}
{% block content %}

<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
        <div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200">
            <div>
                <a class="text-gray-500-4xl hover:text-blue-500" >
                  {{agent.user.full_name}}
                </a>
            </div>
            <div>

            </div>
        </div>

        <div class="flex flex-col w-full">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-100">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                            زمان
                            </th>
                            <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                            شماره سفارش
                            </th>
                            <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                            آدرس
                            </th>
                            <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                            مشکل
                            </th>
                            <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                            اجرت
                            </th>
                            <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                            کمیسیون
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lead in leads %}
                            <tr class="bg-white">
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                                    {{ lead.time }}
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-900">
                                    <a  href="{% url 'leads:lead-detail' lead.pk %}">
                                        {{ lead.id }}</a>
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                                    {{ lead.address }}
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                                    {% for service in lead.services.all %}
                                        {{ service.name }}
                                    {% endfor %}
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                                    {{ lead.wage|convert_to_persian }}
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                                    {{ lead.commission|convert_to_persian }} 
                                </td>
                
                            </tr>

                        {% empty %}

                        <p>هیچ سفارشس وجود ندارد</p>

                        {% endfor %}
                    </tbody>
                     
                    <tbody>
                        {% for trans in transactions %}
                            <tr class="bg-white">
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                                    {{ trans.time }}
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-900">
                                    
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                                    
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                                  
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                                    واریز
                                </td>
                                <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                                    {{trans.amount|convert_to_persian}}
                                </td>
                
                            </tr>

                        {% empty %}

                        <p>هیچ واریزی وجود ندارد</p>

                        {% endfor %}
                    </tbody>
                </table>
                <table class="min-w-full divide-y divide-gray-100">
                    <tbody class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-900 uppercase tracking-wider">
                                جمع کل اجرت دریافتی از مشتری: {{total_wage|convert_to_persian}} تومان 
                            </th>
                            <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-900 uppercase tracking-wider">
                                جمع کل کمیسیون  : {{total_commisions|convert_to_persian}} تومان
                            </th>
                            <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-900 uppercase tracking-wider">
                                جمع کل واریزی  : {{total_tr|convert_to_persian}} تومان
                            </th>
                            <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-900 uppercase tracking-wider">
                                بدهی : {{bedehi|convert_to_persian}} تومان
                            </th>
                           
                        </tr>
                    </tbody>
                </table>
                <table class="min-w-full divide-y divide-gray-100">
                    <tbody class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                  بدهی قبلی: {{initial_bedehi|convert_to_persian}}  تومان        
                            </th>
                        </tr>
                    </tbody>
                </table>
                <table class="min-w-full divide-y divide-gray-100">
                    <tbody class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">
                                  بدهی کل: {{total_bedehi|convert_to_persian}}  تومان        
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>

            </div>
            </div>
        </div>
        
       
    </div>
</section>
{% endblock content %}